<!DOCTYPE html>
<html>
	<head>
		<title>AgilityFeat</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700" rel="stylesheet" type="text/css">

		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/media-queries.css" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1"/>

		<style>
			body{
				padding-bottom: 50px;
			}
			.glyphicon-trash{cursor: pointer;}
			.form-control{height: 100%;margin-bottom: 10px;}		
			#me { 
				width: 250px;
				left: 58.5%;
				position: relative !important;
				/*top: 312px;*/
				display: none
			}
			#you { 
				width: 600px;
				/*height: 500px;*/
			}
			#me,#you{
				position: absolute;
				border:solid 1px #e1e1e1;
			}
			.streaming_container{
				height: 302px;
				width: 600px;
				float: left;
				overflow: hidden;
			}
			.form-group{clear: both;margin-top: 10px;}
			.form_container{width: 90%;}
			@media (min-width: 768px){
				.form-inline .form-group {
					display: inline-block;
					margin: 0px 0 10px 0;
					vertical-align: middle;
					float: left;
					width: 90%;
				}			
			}
			.connected_people_container{margin:10px 0px;}
			.connected_people_list{list-style-type: none;}

			.modal-backdrop {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 1040;
				background-color: #000;
				opacity: .8;
			}

			.modal {
				position: fixed;
				top: 10%;
				left: 50%;
				z-index: 1050;
				width: 560px;
				margin-left: -280px;
				background-color: #fff;
				border: 1px solid #999;
				border: 1px solid rgba(0,0,0,.3);
				border-radius: 6px;
				box-shadow: 0 3px 7px rgba(0,0,0,.3);
				background-clip: padding-box;
				outline: 0;
				height: 218px;
			}
			.modal-header {
				padding: 9px 15px;
				border-bottom: 1px solid #eee;
			}
			.modal-body {
				position: relative;
				overflow-y: auto;
				max-height: 400px;
				padding: 15px;
			}			
			.modal-footer {
				padding: 14px 15px 15px;
				margin-bottom: 0;
				text-align: right;
				background-color: #f5f5f5;
				border-top: 1px solid #ddd;
				border-radius: 0 0 6px 6px;
				box-shadow: inset 0 1px 0 #fff;
			}	
			li.user{
				border-bottom: solid 1px #e1e1e1;
				padding: 5px;
				text-align: left;		
				overflow: hidden;		
			}	

		</style>
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 class="text-center">WebRTC - PubNub - AgilityFeat</h1>

						<form class="form-inline" role="form">

							<div class="streaming_container pull-left">
								<video autoplay id="you"></video>
								<video autoplay id="me"></video>
							</div>

							<div class="span12" id="video-controls" style="display: none;">
								<a href="#" class="btn btn-danger" id="hangup">Hang Up</a>
								<span id="time">00:00</span>
                            </div>

							<div class="form_container pull-left">
								
								<div class="connected_people_container">
									<h4>Connected people</h4>
									<ul id="connected_people_list" class="connected_people_list">
									</ul>
								</div>

								<!-- <div class="connected_people" id="connected_people"></div> -->
								
								<!-- <div class="form-group">
									<h4>Your id is: <br><span id="my_id"></span></h4>
								</div>
								<div class="form-group">
									<label class="sr-only" for="user_id">Connect to</label>
									<input type="text" class="form-control" id="user_id" placeholder="USER ID">
									<button id="connect" class="btn btn-success">CONNECT</button>
								</div>
								<div class="form-group">
									<label class="sr-only" for="message">Message</label>
									<input type="text" class="form-control" id="message" placeholder="Message">
									<button id="send" class="btn btn-success">SEND</button>
									<button id="stream" class="btn btn-warning pull-right">STREAM</button>
								</div> -->

<!-- 								<div id="chatbox">
									
									<p id="title">CHAT</p>
									
									<div>
										<input id="text_input" placeholder="Type message here">
										<div id="dummyinput"></div>
									</div>

									<input id="username-input" style="bottom: 10px; left: 10px; position: absolute;" placeholder="put your name here">
									<div class="youricon">
										<div id="yourname">YOU</div>
									</div>
									<div id="chat-box"></div>

								</div> -->
								
<!-- 								
								<div class="form-group" id="chat_container">
									<div id="channel_messages" class="form-group">
										<h4>Chat</h4>
									</div>										
									<label class="sr-only" for="message">Message</label>
									<input id="username-input" class="form-control" placeholder="What's your name?">
									<input type="text" class="form-control" id="message" placeholder="Message" autocomplete="off">
									<button id="send" class="btn btn-default">SEND</button>
								</div> 
							-->

								<div class="form-group" id="login_container" style="display:none">

									<label class="sr-only" for="message">Username</label>
									<input id="username" class="form-control" placeholder="What's your name?" autocomplete="off">
									<button id="login" class="btn btn-default">LOGIN</button>

								</div>
								
								<div id="answer-modal" class="modal hide">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Incoming Call</h3>
									</div>
									<div class="modal-body">
										<p class="caller">(User) is calling...</p>
									</div>
									<div class="modal-footer">
										<button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Ignore</button>
										<button class="btn btn-success" id="answer">Answer</button>
									</div>
								</div>

								<div id="calling-modal" class="modal hide">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h3 id="myModalLabel">Outgoing Call</h3>
									</div>
									<div class="modal-body">
										<p class="calling">Calling (User)...</p>
									</div>
									<div class="modal-footer">
										<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
									</div>
								</div>								

							</div>						

						</form>

				</div>
			</div>

		</div>

		<audio loop id="ringer">
			<source src="medias/ring.mp3" type="audio/mpeg">
		</audio>		

		<script type="text/javascript">

			<% if(username){%>
				window.agility_username = <%= username %>;
			<%}%>

		</script>
		


	<script src="javascripts/resources/vendor/jquery.min.js"></script>
	<script src="javascripts/resources/vendor/underscore-1.5.2.js"></script>
	<script src="javascripts/resources/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://cdn.pubnub.com/pubnub.js"></script>
	<script src="javascripts/resources/vendor/webrtc-beta-pubnub.js"></script>
	<script src="javascripts/resources/domain/webrtc.agility.js"></script>

	



	</body>
</html>




