<!DOCTYPE html>
<html>
	<head>
		<title>AgilityFeat</title>
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css" />
		<meta http-equiv="X-UA-Compatible" content="chrome=1"/>

		<style>
			body{
				padding-bottom: 50px;
			}
			.form-control{height: 100%;margin-bottom: 10px;}		
			#me { 
				width: 250px;
				left: 58.5%;
				position: relative !important;
				top: 312px;
				display: none
			}
			#you { 
				width: 600px;
				height: 500px;
			}
			#me,#you{
				position: absolute;
				border:solid 1px #e1e1e1;
			}
			.streaming_container{
				height: 500px;
				width: 600px;
				float: left;
				overflow: hidden;
			}
			.form-group{clear: both;}
			.form_container{width: 90%;}
			@media (min-width: 768px){
				.form-inline .form-group {
					display: inline-block;
					margin: 0px 0 10px 0;
					vertical-align: middle;
					float: left;
					width: 90%;
				}			
			}
		</style>
	</head>
	<body>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<h1 class="text-center">WebRTC - PubNub - AgilityFeat</h1>

						<form class="form-inline" role="form">

							<div class="streaming_container pull-left">
								<video autoplay id="you"></video>
								<video autoplay id="me"></video>
							</div>

							<div class="form_container pull-left">
								
								<div class="connected_people" id="connected_people"></div>
								
								<!-- <div class="form-group">
									<h4>Your id is: <br><span id="my_id"></span></h4>
								</div>
								<div class="form-group">
									<label class="sr-only" for="user_id">Connect to</label>
									<input type="text" class="form-control" id="user_id" placeholder="USER ID">
									<button id="connect" class="btn btn-success">CONNECT</button>
								</div>
								<div class="form-group">
									<label class="sr-only" for="message">Message</label>
									<input type="text" class="form-control" id="message" placeholder="Message">
									<button id="send" class="btn btn-success">SEND</button>
									<button id="stream" class="btn btn-warning pull-right">STREAM</button>
								</div> -->

<!-- 								<div id="chatbox">
									
									<p id="title">CHAT</p>
									
									<div>
										<input id="text_input" placeholder="Type message here">
										<div id="dummyinput"></div>
									</div>

									<input id="username-input" style="bottom: 10px; left: 10px; position: absolute;" placeholder="put your name here">
									<div class="youricon">
										<div id="yourname">YOU</div>
									</div>
									<div id="chat-box"></div>

								</div> -->
								
								<div class="form-group" id="chat_container">
									<div id="channel_messages" class="form-group">
										<h4>Chat</h4>
									</div>										
									<label class="sr-only" for="message">Message</label>
									<input id="username-input" class="form-control" placeholder="What's your name?">
									<input type="text" class="form-control" id="message" placeholder="Message" autocomplete="off">
									<button id="send" class="btn btn-default">SEND</button>
								</div>

								

							</div>						

						</form>

				</div>
			</div>

		</div>

	<script src="javascripts/resources/vendor/jquery.min.js"></script>
	<script src="javascripts/resources/vendor/underscore-1.5.2.js"></script>
	<script src="javascripts/resources/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://cdn.pubnub.com/pubnub.js"></script>
	<script src="javascripts/resources/vendor/webrtc-beta-pubnub.js"></script>
	<script src="javascripts/resources/domain/webrtc.agility.js"></script>

	



	</body>
</html>




